

/* #CandidateDetail  */

#CandidateDetail {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

#CandidateDetail .avt {
    width: 20%;
}

#CandidateDetail .avt img {
    width: 100%;
    border-radius: 5px;
}


#CandidateDetail .information {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
}

#CandidateDetail .name {
    color: var(--primary-color);
    font-weight: 600;
}

#CandidateDetail .description {
    font-size: 0.9rem;
}


#CandidateDetail .specialty {
    width: 20%;
}

#CandidateDetail .skill-icon {
    width: 20%;
    margin-right: 8px;
    margin-bottom: 8px;
}

#CandidateDetail .skills img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#CandidateDetail .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#CandidateDetail .item {
    width: 100%;
    display: flex;
    margin: 8px 0;
    align-items: center;
    flex-wrap: wrap;
}

#CandidateDetail .item-name {
    width: 70%;
    margin-left: 12px;
    text-transform: capitalize;
}

#CandidateDetail .item-icon {
    width: 32px;
    height: 32px;
    color: #5DC26A;
}

#CandidateDetail .item-level,
#CandidateDetail .icon-check {
    margin-left: auto;
    order: 2;
}

#CandidateDetail .item-level {
    position: absolute;
    right: 0px;
    padding: 0 8px;
    border-radius: 20px;
    border: 1px solid #DEDEDE;
    font-size: .8125rem;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #75787d;
    margin-right: 24px;
}

#CandidateDetail .item-level:hover {
    text-decoration: none !important;
}


#CandidateDetail .item-level:hover {
    cursor: pointer;
    text-decoration: underline;
}