#ApplyManagement {
    padding: 2% 10% 5%;
}

#ApplyManagement h2 {
    color: var(--primary-color);
}

#ApplyManagement .btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}