#EnterpriseInterview {
    padding: 2% 10% 5%;
}

#EnterpriseInterview h2 {
    color: var(--primary-color);
}

#InterviewCreateModal .salary {
    padding: 0 14px;
    margin-bottom: 16px;
    width: 100%;
}