#EnterpriseRecruitment {
    padding: 2% 10% 5%;
}

#EnterpriseRecruitment .filter {
    width: 100%;
    border: 2px solid var(--primary-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#EnterpriseRecruitment .form-input {
    display: flex;
    position: relative;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    margin: 8px 0 8px 8px;
    color: #757575;
    width: 63.5%;
}

#EnterpriseRecruitment .form-input input {
    border: none;
    margin-left: -1px;
    width: 100%;
}

#EnterpriseRecruitment .form-input:focus-within {
    outline: 1px solid var(--black-color);
}

#EnterpriseRecruitment .form-input input:focus {
    outline: none;
}

#EnterpriseRecruitment .input-icon {
    color: #858585;
    height: 45px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
}

#EnterpriseRecruitment .input-icon .icon {
    width: 20px;
    height: 20px;
}

#EnterpriseRecruitment .specialty-dropdown {
    width: 22%;
    align-self: center;

}

#EnterpriseRecruitment .btn-search {
    border: none;
    background-color: var(--primary-color);
    width: 12%;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1.2rem;
}


#EnterpriseRecruitment .specialty {
    width: 100%;
    border: 1px solid #d2d2d2 !important;
    padding: 11px 22px !important;
    background-color: var(--white-color) !important;
    color: #757575 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#EnterpriseRecruitment .specialty-menu {
    width: 100%;
}

#EnterpriseRecruitment .post-container {
    width: 100%;
    border: 1px solid #c4c4c4;
    margin-top: 3%;
}

#EnterpriseRecruitment .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#EnterpriseRecruitment .post-container .duration {
    border-radius: 0px !important;
}

#EnterpriseRecruitment .quantity {
    margin-left: 8px;
    font-size: 1.2rem;
}

#EnterpriseRecruitment .quantity strong {
    color: var(--primary-color);
}