#EnterpriseProfile {
    width: 100%;
    position: relative;
    background-color: #D9D9D9;
    padding-bottom: 24px;
}

#EnterpriseProfile .profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    z-index: 5;
  }

#EnterpriseProfile .profile-header {
    background-color: var(--white-color);
    width: 100%;
    margin-top: 1%;
}

#EnterpriseProfile .avt-cover {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 5px solid var(--white-color);
    border-radius: 10px;
    top: -50px;

}

#EnterpriseProfile .overview {
    padding: 4px 24px;
    position: relative;
}

#EnterpriseProfile .avt-enterprise {
    width: 100%;
    border-radius: 10px;
}

#EnterpriseProfile .information {
    display: flex;
    margin-left: 15%;
    justify-content: space-between;
    padding: 12px 0;
}

#EnterpriseProfile .information-left {
   width: 70%;
}
#EnterpriseProfile .enterprise-name {
    font-weight: bold;
    font-size: 1.5rem;
}

#EnterpriseProfile .flex-haft {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

#EnterpriseProfile .profile-detail {
    background-color: var(--white-color);
    margin-top: 12px;
    padding: 24px;
    border-radius: 5px;
    width: 100%;
}

#EnterpriseProfile .enterprise-introduction {
    margin-bottom: 12px;
}

#EnterpriseProfile .post {
    display: flex;
    border-radius: 5px;
    background-color: rgba(242, 114, 41, 0.3);
    padding:18px 24px;
    margin: 10px 0;
    width: 49%;
}

#EnterpriseProfile .post-detail {
    margin: 0 24px;

}

#EnterpriseProfile .avt-post-cover {
    width: 100px;
    height: 100px;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--white-color);
}

#EnterpriseProfile .post-avt {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

#EnterpriseProfile .post-name {
    font-weight: bold;
}

#EnterpriseProfile .post-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}

#EnterpriseProfile .enterprise-about {
    margin-right: 16px;
}


#EnterpriseProfile .enterprise-about .icon {
    margin-right: 8px;
    color: var(--primary-color);
}

#EnterpriseProfileModal {
    min-width: 40%;
}

#EnterpriseProfileModal .edit-container {
    display: flex;
    flex-direction: column;
}

#EnterpriseProfileModal .edit-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 4px;
}

#EnterpriseProfileModal .edit-body {
    padding: 20px 16px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#EnterpriseProfileModal .modal-body {
    padding: 16px 32px;
}

#EnterpriseProfileModal .edit-body img {
    border-radius: 10px;
}

#EnterpriseProfileModal .cover-photo {
    width: 70%;
}

#EnterpriseProfileModal .cover-photo img {
    width: 100%;
}


#EnterpriseProfileModal .edit-input {
    width: 100% !important;
    margin-bottom: 16px;
}

#EnterpriseProfile .post {
    flex-wrap: wrap;
    display: flex;
    border-radius: 5px;
    padding:18px 24px;
    margin: 10px 0;
    width: 49%;
    border: 1px solid #c4c4c4;
}

#EnterpriseProfile .post:hover {
    background-color: rgba(242, 114, 41, 0.3);
    cursor: pointer;
}

#EnterpriseProfile .post-detail {
    margin: 0 24px;
    width: 70%;
}

#EnterpriseProfile .avt-post-cover {
    width: 100px;
    height: 100px;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--white-color);
}

#EnterpriseProfile .post-avt {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

#EnterpriseProfile .post-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 4px;
    margin-top: 8px;
}

#EnterpriseProfile .post-company-name {
    text-transform: capitalize;
}

#EnterpriseProfile .post-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 13px;
}

#EnterpriseProfile .btn-add-post {
    background-color: var(--black-color);
    color: var(--white-color);
    
}

#EnterpriseProfile .post-description {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 6px;
    border-top: 1px solid #e9eaec;
    margin-top: 12px;
}

#EnterpriseProfile .description-item  {
    margin-right: 24px;
    margin-top: 8px;
    font-size: 0.9rem;
}

#EnterpriseProfile .skills {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 12px;
}

#EnterpriseProfile .skill {
    color: var(--primary-color);
    border-radius: 15px;
    border: 1px solid #ebeced;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 4px 16px;
}