
#EmployeeProfile .banner-img {
    width: 100%;
    height: 452px;
    overflow: hidden;
}

#EmployeeProfile .banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#EmployeeProfile .profile-container{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#EmployeeProfile .profile {
    background-color: var(--white-color);
    position: absolute;
    top: -200px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    width: 80%;
}

#EmployeeProfile .col-left {
    width: 35%;
}

#EmployeeProfile .col-left .join {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#EmployeeProfile .col-left .avatar {
    border-radius: 5px;
    width: 360px;
    height: 360px;
}

#EmployeeProfile .col-right {
    position: relative;
    width: 65%;
}



#EmployeeProfile .col-half {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

#EmployeeProfile .work-status {
    width: 100%;
}

#EmployeeProfile .col-half span {
    margin-left: 24px;
    text-transform: capitalize;
}

#EmployeeProfile .fullname {
    font-size: 2rem;
    font-weight: 700;
}

#EmployeeProfile .btn-cover {
    width: 30%;
    padding: 0 !important;
}

#EmployeeProfile .btn-edit {
    float: right;
}

#EmployeeProfile .avatar {
    width: 265px;
    height: 265px;
}

#EmployeeProfile .b-0 {
    width: 100%;
}

#EmployeeProfile .join {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#EmployeeProfile .icon {
    margin-right: 12px;
    color: #BEC0C2;
    width: 32px;
    height: 32px;
}
