#RolesHeader .navbar {
    height: 64px;
    font-weight: 500;
    background-color: var(--white-color) !important;
}

#RolesHeader .navlink,
#RolesHeader .navbar {
    color: var(--black-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RolesHeader .navlink:hover {
    color: var(--primary-color) !important;
}

#RolesHeader .nav-right *{
    margin-left: 20px !important;
}

#RolesHeader .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

#RolesHeader .avatar img{
    margin: 0 !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#RolesHeader .navlink .icon,
#RolesHeader .navbar .avatar,
#RolesHeader .navbar,
#RolesHeader .navbar span {
    margin: 0 !important;
}

.drop{
    position: relative;
}

.header-container .drop-down{
    position: absolute;
    top: 64px;
    left: auto;
    right: 0;
    background-color:  var(--white-color);
    box-shadow: 0 8px 24px #010409;
    z-index: 1;
    font-weight: 400;
}

.avartar-logout {
    padding: 0 10px;
}