#ProfessorReport h2 {
    color: var(--primary-color);
}

#ProfessorReport .header {
    display: flex;
    justify-content: space-between;
    padding: 2% 2%;
}

#ProfessorReport .specialty {
    align-self: center;
    background-color: var(--primary-color);
    font-size: 1.1rem;
    padding: 8px 50px;
    font-weight: bold;
    color: var(--white-color);
    border-radius: 50px;
    margin-right: 50px;
}

#ProfessorReport .evaluation-container {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#ProfessorReport .col-left {
    width: 25%;
    min-height: 50vh;
    border-right: 2px solid var(--black-color);
    padding-left: 2%;
}

#ProfessorReport .col-right {
    width: 75%;
    min-height: 50vh;
    padding: 2% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ProfessorReport ul {
    list-style-type: none;
}

#ProfessorReport li {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    padding-right: 3rem;
}

#ProfessorReport .level-selected {
    background-color: var(--primary-color);
    padding: 0 24px;
    border-radius: 25px;
    color: var(--white-color);
    font-weight: 700;
}

#ProfessorReport li span {
    margin-left: 12px;
    font-weight: 700;
}

#ProfessorReport .col-left img {
    width: 45px;
}

#ProfessorReport .skill {
    position: relative;
    width: 48%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 15px;
}

#ProfessorReport .skill>* {
    display: inline-block;
}

#ProfessorReport .skill-name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 24px;
}

#ProfessorReport .skill-img img {
    width: 65px;
}

#ProfessorReport .skill-level {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 0px;
    width: 20%;
    margin-right: 24px;
}

#ProfessorReport .level {
    margin: 0 12px;
    border: 1px solid #ccc;
    padding: 0 24px;
    border-radius: 25px;
}