#Specialty {
    padding: 2% 10% 5%;
}

#Specialty h2 {
    color: var(--primary-color);
}

#Specialty .item-icon {
    width: 32px;
    height: 32px;
    color: #5DC26A;
}

#Specialty .btn-edit,
#Specialty .btn-save,
#Specialty .btn-cancel {
    padding: 6px 4px;
    border-radius: 5px;
    width: 7rem;
    border: none;
    color: var(--white-color);
    font-weight: 500;
}


#Specialty .btn-edit {
    background-color: var(--primary-color);
}

#Specialty .btn-save {
    background-color: #5DC26A;
}

#Specialty .btn-cancel {
    background-color: #DC3545;
}