#AdminPage {
    padding: 2% 2% 5%;
}

#AdminPage h2 {
    color: var(--primary-color);
}

#EmployeeCreateModal .group-input {
    display: flex;
    justify-content: space-between;
}

#EmployeeCreateModal .group-input label {
    font-size: 16px;
    padding-top: 0.8rem;
}

#EmployeeCreateModal .form-input {
    width: 70%;
}

#EmployeeCreateModal .form-input input {
    width: 100%;
    padding: 8px;
}

#EmployeeCreateModal .regis-input {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: 34px;
    margin-top: 0.7rem;
    font-size: 16px;
}

#EmployeeCreateModal .regis-input:focus {
    border: 2px solid var(--primary-color);
}
