#CandidateRegister {
    display: flex;
    z-index: 15;
    width: 100%;
    position: absolute;
    background-color: var(--white-color);
    top: 0;
    color: var(--black-color);
    flex-direction: row;
    height: inherit;
}

#CandidateRegister .col-left {
    width: 60%;
    background-color: var(--white-color);
    padding: 3% 6%;
}

#CandidateRegister .col-right {
    width: 40%;
    background-color: rgba(255, 93, 0, 0.5);
    display: flex;
    justify-content: center;
    align-self: stretch;
}

#CandidateRegister .intro-img {
    width: 360px;
    height: 250px;
    align-self: center;
}

#CandidateRegister .register-header {
    margin: 5% 1% 1%;
}

#CandidateRegister .form-input {
    display: flex;
    position: relative;
    width: 70%;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    margin: 18px 0;
    justify-content: space-around;
}

#CandidateRegister .form-input input {
    border: none;
    margin-left: -1px;
    width: 100%;
}

#CandidateRegister .haft-input-cover {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    justify-content: space-between;
}

#CandidateRegister .form-input:focus-within {
    outline: 1px solid var(--black-color);
}

#CandidateRegister .form-input input:focus {
    outline: none;
}

#CandidateRegister .input-icon {
    height: 40px;
    padding: 3px;
    color: var(--primary-color);
    padding: 0.375rem 0.75rem;
}

#CandidateRegister .gender-dropdown button {
    float: right;
    background-color: var(--white-color) !important;
    border: 1px solid #c4c4c4 !important;
    border-radius: 4px !important;
    color: rgba(0, 0, 0, 0.6) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    height: 100%;
}

#CandidateRegister .dropdown-toggle:hover {
    border: 1px solid var(--black-color) !important;
    color: var(--black-color) !important;
}

#CandidateRegister .dropdown-toggle::after {
    margin: 0 12px;
}

#CandidateRegister .MuiInputAdornment-root * {
    color: var(--primary-color)
}

#CandidateRegister .haft-input-cover *>:hover {
    cursor: pointer;
}

#CandidateRegister .form-import-header {
    margin: 18px 0 8px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
}

#CandidateRegister .footer-register {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 8%;
}

#CandidateRegister .btn-continue {
    display: flex;
    flex-wrap: nowrap;
}

#CandidateRegister .register-status {
    margin-left: 24px;
}

#CandidateRegister .btn-continue button {
    padding: 10px 28px !important;
    width: 120px;
}

#CandidateRegister .status-description {
    font-size: 0.7rem;
}

#CandidateRegister .register-progress {
    font-weight: bold;
    color: var(--primary-color);
}

/* 100% */


#CandidateRegister .description {
    padding: 0.375rem 0.75rem;
}

#CandidateRegister .img-input {
    width: 150px;
    height: 150px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
}


#CandidateRegister .img-input img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#CandidateRegister .img-input .icon-camera {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 45px;
    height: 45px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
    background-color: var(--black-color);
    border-radius: 50%;
    color: var(--white-color);
    align-items: center;
    justify-content: center;
}

#CandidateRegister .img-guide {
    align-self: flex-end;
    width: 65%;
}

#CandidateRegister .img-guide * {
   font-weight: 400;
   font-size: 1.2rem;
}

#CandidateRegister .btn-back {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    margin-bottom: 24px;
    width: 10%;
}

#CandidateRegister .btn-back span {
   margin-left: 8px;
}

#CandidateRegister .btn-back * {
    align-self: center;
}

#CandidateRegister .btn-back:hover {
    color: var(--primary-color);
    cursor: pointer;
}