#CandidateProfile {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #D9D9D9;
}

#CandidateProfile .banner {
    width: 100%;
}

#CandidateProfile .profile-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    width: 80%;
    margin-left: 10%;
    z-index: 5;
}

#CandidateProfile .left {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
}

#CandidateProfile .right {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 30%;
    border-radius: 5px 5px 0 0;
}

#CandidateProfile .profile {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

#CandidateProfile .profile-input,
#CandidateProfile .profile {
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    margin-bottom: 32px;
}

#CandidateProfile .col-left {
    width: 35%;
}

#CandidateProfile .col-right {
    position: relative;
    width: 65%;
}

#CandidateProfile .col-half {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

#CandidateProfile .work-status {
    width: 100%;
}

#CandidateProfile .col-half span {
    margin-left: 24px;
    text-transform: capitalize;
}

#CandidateProfile .fullname {
    font-size: 2rem;
    font-weight: 700;
}

#CandidateProfile .btn-cover {
    width: 30%;
    padding: 0 !important;
}

#CandidateProfile .btn-edit {
    float: right;
}

#CandidateProfile .avatar {
    width: 265px;
    height: 265px;
}

#CandidateProfile .b-0 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#CandidateProfile .join {
    margin-top: 12px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#CandidateProfile .icon {
    margin-right: 12px;
    color: #BEC0C2;
    width: 32px;
    height: 32px;
}

#CandidateProfile .profile-header {
    border-bottom: 1px solid #D9D9D9;
    padding: 12px 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#CandidateProfile .profile-header-name {
    font-weight: bold;
    font-size: 1.5rem;
}

#CandidateProfile .profile-body {
    width: 100%;
    height: 300px;
}

.input-profile {
    width: 70%;
    padding: 4px;
    border-radius: 5px;
}

.input span {
    align-content: center;
}